

    body{
        background-image: url(fondo.jpg);
        background-size: 100%;
    }

.form-group{
    margin-bottom: 20px;
}

#mostrarRes{
    margin-top: 20px;
}
td,th,tr,table{
    border: black 2px solid;
    border-collapse: collapse;
    background: wheat;
}
h2{
    text-decoration: solid;
    text-decoration-style: dashed;
    background-color: aliceblue;
}